.navbar-brand{
    margin-left: 2vw;
}
.navbar div ul li a{
    color: white;
}

.navbar-brand{
    color:white;
}

.navbar-brand:hover{
    color:white;
}

h1{
    text-align: center;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

h2{
    margin-left: 2vw;
    margin-top: 2vh;
}

p, button{
    margin-left: 2vw;
    margin-right: 2vw;
}

#randomimgp{
    height: 30vh;
    text-align: center;
}
#randomimg{
    height: 100%;
}

#output{
    margin-left: 0;
    margin-top: 2vh;
    line-height: 2vh;
    font-size: 1rem;
}